{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
        <main>
            <div class="container">
                <section class="introduction">
                    <div class="row align-items-center">
                        <div class="col-md introduction__column align-items-center">
                            <h1 class="introduction__title">Project management has never been easier overall</h1>
                        </div>
                        <div class="col-md introduction__column introduction__image">
                            <img class="introduction__image" src="{{ asset('build/images/hero-img.png') }}"
                                 alt="team company">
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock %}