{% extends 'base.html.twig' %}

{% block title %}Management.it{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <section class="introduction pb-4">
                <div class="row align-items-center">
                    <div class="col-md introduction__column introduction-block align-items-center">
                        <h1 class="introduction__title">Management it is easy</h1>
                    </div>
                    <div class="col-md introduction__column introduction__image">
                        <img class="introduction__image" src="{{ asset('build/images/hero-img.png') }}"
                             alt="team company">
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}