.form-wrapper {
  width: 550px;
}

.login-logo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.register-link {
  padding: 20px;
  border-radius: 0.25rem;
}

.login-button {
  background-color: #2ea44f;
  color: #ffffff;
}

.login-form {
  background-color: #f6f8fa;
  padding: 20px;
  border-radius: 0.25rem;
}