@import "elements/header";
@import "~bootstrap/scss/bootstrap";
@import "elements/footer";
@import "forms/login_form";
@import "elements/user_registration";

html {
  height: 100%;
}

body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

.introduction {
  overflow-x: hidden;
}

.introduction__title {
  font-family: 'Sriracha', cursive;
  font-size: 45px;
}

.introduction__column {
  margin: 0 auto;
}

.introduction-block {
  margin-bottom: 50px;
}

.introduction__image {
  display: block;
  margin: 0 auto;

  background-size: cover;

  max-width: 100%;
  height: auto;
}

.wrap {
  height: 100%;
}

@import "media-breakpoint/media-breakpoint";


