@include media-breakpoint-up(sm) {
  .panel-form {
    padding: .5rem;
  }
}

@include media-breakpoint-up(md) {
  .main-header {
    margin-bottom: 15px;
  }

  .introduction-block {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(lg) {
  .main-header {
    margin-bottom: 0;
  }

  .main-footer {
    padding: 0;
  }

  .login-logo {
    margin-top: 0;
  }
}