{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% form_theme form
    'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="user-register__title text-center">Create new Category</h1>

        {{ include('category/_form.html.twig') }}

        <a class="btn btn-success" href="{{ path('category_index') }}">back</a>
    </div>
{% endblock %}
