{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% import "project/macros.html.twig" as forms %}

{% block title %}New Project{% endblock %}

{% block content %}
    <div class="container">
        <h1>Create new Project</h1>
        {{ include('project/_form.html.twig', {'button_label': 'save'}) }}


        <a href="{{ path('project_index') }}">back to list</a>
    </div>
{% endblock %}
