{% extends 'base.html.twig' %}

{% block title %}New User Registration{% endblock %}

{% block content %}
    <div class="container">
        <h1>New User Registration</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
