{% extends 'base.html.twig' %}

{% block title %}Edit Skill{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="user-register__title text-center">Edit Skill</h1>

        {{ include('skill/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary mb-2" href="{{ path('skill_index') }}">back</a>

        {{ include('skill/_delete_form.html.twig') }}
    </div>
{% endblock %}
