{% extends 'base.html.twig' %}

{% block title %}Skill index{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1 class="user-register__title text-center">Skills</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill.id }}</td>
                    <td>{{ skill.title }}</td>
                    <td>
                        <a href="{{ path('skill_edit', {'id': skill.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('skill_new') }}">Create new</a>
    </div>
{% endblock %}
