{% extends 'base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="user-register__title text-center">Create new Skill</h2>
        <div class="container">
            {{ include('skill/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('skill_index') }}">back</a>
        </div>
    </div>
{% endblock %}
