{% extends 'base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <h2 class="user-register__title text-center">Create new Skill</h2>
    <div class="container">
        {{ include('skill/_form.html.twig') }}
        <a class="" href="{{ path('skill_index') }}">back to list</a>
    </div>
{% endblock %}
