.panel-form {
  background-color: #f8f8f8;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.user-register__title {
  font-size: 45px;
  font-family: 'Sriracha', cursive;
  margin-bottom: 15px;
}

.personal-data__wrapper {
  background-color: #f8f8f8;
}
.personal-data--form {
  padding: .5rem;
}

.form-group {
  margin-bottom: .3rem;
}