<footer class="main-footer" id="footer">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-12 text-lg-center text-center">
                <div class="copyright">&copy; Copyright <strong>Management</strong>. All Rights Reserved</div>
            </div>
        </div>
    </div>
</footer>
